@page
@model Net5.Fundamentals.AspNet.Client.Pages.Customer.IndexModel
<h1>Index</h1>
<p><a asp-page="./Create">Create new</a></p>

<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Customers[0].FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].Street)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].City)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].State)</th>
            <th>@Html.DisplayNameFor(model => model.Customers[0].ZipCode)</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>
            <td>@Html.DisplayFor(modelCustomer => customer.FirstName)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.LastName)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.Phone)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.Email)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.Street)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.City)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.State)</td>
            <td>@Html.DisplayFor(modelCustomer => customer.ZipCode)</td>
            <td>
                <a asp-page="./Detail" asp-route-id="@customer.CustomerId">Detail</a> |
                <a asp-page="./Edit" asp-route-id="@customer.CustomerId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@customer.CustomerId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>